body {
	width: 75%;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
}

/**********
 * header *
 **********/

#header {
	position: relative;
	height: 85px;	
	border-width: 0 0 4px 0;
	border-style: solid;
	border-color: #86001a;
}

#site-title {
	position: absolute;
	margin: 0; padding: 0;
	font-weight: bold;
	font-size: 2em;
	top: 0;
   	left: 5px;	
	display: block;
	color: #8c001a;
}

#slogan {
	color: #8c001a;
	font-size: 1.75em;
	text-indent: 0px;
	font-weight: bold;
	display: block;
	position: absolute;
	margin: 20px;
	padding: 20px;
}


#header form.searchform {
	position: absolute;
	top: 0; 
	right: 0px;
}

/**************
 * end header *
 **************/

#locator {
	font-size: 1em;
	height: 1.5em;
	border-width: 0 0 4px 0;
	border-style: solid;
	border-color: #86001a;
	padding: 0 0 10px 0;
}

#locator-text {
	padding: 5px 0 0 0;
	font-size: 1.0em;
	float: left;
}

#locator-buttons {
	float: right;
}

#locator-buttons button {
	border-radius: 10px;
	color: #86001a;
}

#locator-buttons button:hover {
	color: blue;
}

#leftbar {
	float: left;
	display: block;
	width: 33%;
	background: #dddddd;
}

#leftbar ul {
}

#leftbar li {
	font-size: 1em;
	list-style: none;
	font-weight: bold;
	color: #000080;
}

#leftbar li a {
	text-decoration: none;
	color: #86001a;
	display: block;
}

#leftbar li a:hover {
	color: #0000cd;
}

#main {
	margin: 0 0 0 35%;
}

pre {
	background-color: #dddddd;
	padding: 3px;
	overflow: auto;
	font-size: 1.25em;
}

input[type="submit"] {
    /* background-color: #86001a; */
    /* color: white; */
	color: #86001a;
	border-radius: 10px;
    border: 1px solid black;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    /* background-color: white; */
    /* color: #86001a; */
	color: blue;
}

input, select, textarea, button {
	font-size: 1em;
}

blockquote {
	font-style: italic;
}

#footer {
	clear: both;
	border-width: 4px 0 0 0;
	border-style: solid;
	border-color: #86001a;
	margin: 20px 0 0 0;
}

.failure-message {
    background: yellow;
    font-size: 100%;
    line-height: /* 1.6em */ 2.0em;
    color: red;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

.success-message {
    background: #CCCCCC;
    font-size: 100%;
    line-height: /* 1.6em */ 2.0em;
    color: red;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

label {
	font-weight: bold;
}

code {
	font-family: monospace;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: #DDDDDD;
}

button[type="button"] {
	/* background-color: #86001a; */
	/* color: white; */
	color: #86001a;
    border: 1px solid black;
    padding: 4px;
	margin: 2px 0px 2px 0px;
    font-weight: bold;
    cursor: pointer;
	font-size: 1em;
	border-radius: 10px;
}

button[type="button"]:hover {
	/* background-color: white; */
	/* color: #86001a; */
	color: blue;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table, td {
	padding: 5px;
}

form table, form th, form td {
	border: none;
	border-collapse: none;
}
