body {
	width: 75%;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
}

.container {
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 4;
	grid-gap: 1em;
}

/**********
 * header *
 **********/

#header {
	position: relative;
	height: 85px;	
	grid-column: 1 / 3;
	grid-row: 1;
}

#site-title {
	position: absolute;
	margin: 0; padding: 0;
	font-weight: bold;
	font-size: 2em;
	top: 0;
   	left: 5px;	
	display: block;
	color: #8c001a;
}

#slogan {
	color: #8c001a;
	font-size: 1.75em;
	text-indent: 0px;
	font-weight: bold;
	display: block;
	position: absolute;
	margin: 20px;
	padding: 20px;
}


#header form.searchform {
	position: absolute;
	top: 0; 
	right: 0px;
}

#header form.help {
	position: absolute;
	top: 0; 
	right: 0px;
}

#locator {
	grid-column: 1 / 3;
	grid-row: 2;
	height: 5em;
}

/**************
 * end header *
 **************/

#locator {
	font-size: 1em;
	height: 1.5em;
	border-top: 2px solid #86001a;
	border-bottom: 2px solid #86001a;
	/*
	border-width: 0 0 4px 0;
	border-style: solid;
	border-color: #86001a;
	*/
	padding: 0 0 10px 0;
	grid-column: 1 / 3;
	grid-row: 2;
}

#locator-text {
	/* padding: 5px 0 0 0; */
	margin: 0.25em 0 0.25em 0;
	font-size: 1.0em;
	float: left;
}

#locator-buttons {
	margin: 0.25em 0 0.25em 0;
	float: right;
}

#locator-buttons button {
	border-radius: 10px;
	color: #86001a;
	font-weight: bold;
}

#locator-buttons button:hover {
	color: blue;
}

#left-nav {
	float: left;
	display: block;
	/* width: 25%; */
	background: #dddddd;
	grid-column: 1;
	grid-row: 3;
}

#left-nav ul {
}

#left-nav li {
	font-size: 1em;
	list-style: none;
	font-weight: bold;
	color: #000080;
}

#left-nav li a {
	text-decoration: none;
	color: #86001a;
	display: block;
}

#left-nav li a:hover {
	color: #0000cd;
}

#main {
	/* margin: 0 0 0 26%; */
	grid-column: 2;
	gird-row: 3;
}

pre {
	background-color: #dddddd;
	padding: 3px;
	overflow: auto;
	font-size: 1.25em;
}

input[type="submit"] {
    /* background-color: #86001a; */
    /* color: white; */
	color: #86001a;
	border-radius: 10px;
    border: 1px solid black;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    /* background-color: white; */
    /* color: #86001a; */
	color: blue;
}

input, select, textarea, button {
	font-size: 1em;
}

blockquote {
	font-style: italic;
}

#footer {
	clear: both;
	border-top: 2px solid #86001a;
	margin: 20px 0 0 0;
	grid-column: 1 / 3;
	grid-row: 4;
}

.failure-message {
    background: yellow;
    font-size: 100%;
    line-height: /* 1.6em */ 2.0em;
    color: red;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

.success-message {
    background: #CCCCCC;
    font-size: 100%;
    line-height: /* 1.6em */ 2.0em;
    color: red;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

label {
	font-weight: bold;
}

code {
	font-family: monospace;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: #DDDDDD;
}

button[type="button"] {
	/* background-color: #86001a; */
	/* color: white; */
	color: #86001a;
    border: 1px solid black;
    padding: 4px;
	margin: 2px 0px 2px 0px;
    font-weight: bold;
    cursor: pointer;
	font-size: 1em;
	border-radius: 10px;
}

button[type="button"]:hover {
	/* background-color: white; */
	/* color: #86001a; */
	color: blue;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table, td {
	padding: 5px;
}

form table, form th, form td {
	border: none;
	border-collapse: none;
}
